/* Custom Styles */
body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.card-header {
    background-color: #343a40;
    color: white;
}

.jumbotron {
    background-image: url('https://plus.unsplash.com/premium_photo-1673972238946-9195b64e5f70?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
